<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Basketball Simulation</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Game Simulation
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a routerLink="/game-simulation" href="#">Game</a></li>
						<li><a href="#">Season</a></li>
					</ul>
				</li>
				<li><a routerLink="/team-details" href="#">Team Details</a></li>
				<li><a routerLink="/team-details/create" href="#">Create Team</a></li>
				<li><a href="#">Settings</a></li>
			</ul>
		</div>
	</nav>  