<app-scoreboard [gameSimulation]="gameSimulation"></app-scoreboard>

<app-game-simulation-input [gameSimulation]="gameSimulation" (gameSimulationUpdate)="getSimulation($event)"></app-game-simulation-input>
<!-- 
<nav>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-primary" routerLink="/game-simulation">Team Stats</a>
        <a class="btn btn-primary" routerLink="/team-details">Away Team Stats</a>
        <a class="btn btn-primary" routerLink="/team-details/create">Home Team Stats</a>
    </div>
</nav>
<router-outlet></router-outlet> -->
