    <div class="row">
      <div class="col-sm-12">
        <div class="container">
            <h2>Scoreboard</h2>       
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Teams</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>OT</th>
                        <th>F</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.awayTeam.name}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.awayTeamFirstQuarterScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.awayTeamSecondQuarterScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.awayTeamThirdQuarterScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.awayTeamFourthQuarterScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.awayTeamOvertimeScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.awayTeamScore}}</td>
                    </tr>
                    <tr>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.homeTeam.name}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.homeTeamFirstQuarterScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.homeTeamSecondQuarterScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.homeTeamThirdQuarterScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.homeTeamFourthQuarterScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.homeTeamOvertimeScore}}</td>
                        <td *ngIf="gameSimulation" [(ngModel)]="gameSimulation" ngDefaultControl>{{gameSimulation.homeTeamScore}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>