<!DOCTYPE html>
<html lang="en">
<head>
  <title>Team Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container-fluid">   

    <app-navigation-bar></app-navigation-bar>

    <div class="row">
      <div class="col-sm-3" style="background-color:blue;">
        <app-team-list></app-team-list>
      </div>
      <div class="col-sm-9" style="background-color:lightblue;">
        <app-team-input></app-team-input>
      </div>
    </div>
  </div>

</body>
</html>