<div class="row">
	<div class="col-sm-12">
		<div class="container">      
			<h2>Team List: </h2>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Team</th>
						<th>Offensive Rating</th>
						<th>Defensive Rating</th>
						<th>Overall Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let team of teams">
						<td><a routerLink="/team-details/{{team.id}}">{{team.name}}</a></td>
						<td>{{team.offensiveRating}}</td>
						<td>{{team.defensiveRating}}</td>
						<td>{{team.overallRating}}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
