<!DOCTYPE html>
<html lang="en">
<head>
  <title>Team Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container-fluid">   

    <app-navigation-bar></app-navigation-bar>

    <div class="row">
      <div class="col-sm-3">
        <app-team-list></app-team-list>
      </div>
      <div class="col-sm-9">
        <app-team-input></app-team-input>
      </div>
    </div>
  </div>

</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoreboard</title>
  <meta charset="utf-8">
</head>
<body>

  <div class="container-fluid">
    
      <app-navigation-bar></app-navigation-bar>

      <app-scoreboard></app-scoreboard>

      <app-game-simulation-input></app-game-simulation-input>

    </div>
  </body>
  </html> -->