<!DOCTYPE html>
<html>

<head>
	
</head>

<body>

	<h1>Team Information:</h1>

	<div class="teamInputForm" *ngIf="team; else notTeam">

		<div class="form-group">
			<label for="inputlg">Team Name (must be greater than or equal to 1 character)</label>
			<input id="teamName" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="teamName" placeholder="Team Name" value={{team.name}} ng-model="teamInputs">
		</div>

		<div class="form-group">
			<label for="inputlg">Offensive Rating (must be between 1 and 100</label>
			<input id="teamOffensiveRating" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="offensiveRating" placeholder="Offensive Rating" value={{team.offensiveRating}} ng-model="teamInputs">
		</div>

		<div class="form-group">
			<label for="inputlg">Defensive Rating (must be between 1 and 100)</label>
			<input id="teamDefensiveRating" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="defensiveRating" placeholder="Defensive Rating" value={{team.defensiveRating}} ng-model="teamInputs">
		</div>

	</div>

	<ng-template #notTeam>
		<div class="form-group">
			<label for="inputlg">Team Name (must be greater than or equal to 1 character)</label>
			<input id="teamName" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="teamName" placeholder="Team Name" ng-model="teamInputs">
		</div>

		<div class="form-group">
			<label for="inputlg">Offensive Rating (must be between 1 and 100)</label>
			<input id="teamOffensiveRating" class="form-control input-lg" id="inputlg" [(ngModel)]="offensiveRating" type="text" placeholder="Offensive Rating" ng-model="teamInputs">
		</div>

		<div class="form-group">
			<label for="inputlg">Defensive Rating (must be between 1 and 100)</label>
			<input id="teamDefensiveRating" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="defensiveRating" placeholder="Defensive Rating" ng-model="teamInputs">
		</div>
	</ng-template>

	<a id="delete-team-button" class="btn btn-primary" routerLink="/team-details/" (click)="createTeam()">Create/Edit Team</a>
	<a id="clear-input-button" class="btn btn-primary" routerLink="/team-details/" (click)="deleteTeam()">Delete Team</a>

</body>
</html>
