<!DOCTYPE html>
<html>

<head>
	
</head>

<body>

	<h1>Player Information:</h1>

	<div class="playerInputForm" *ngIf="player; else notPlayer">

		<div class="form-group">
			<label for="inputlg">Player Name (cannot change)</label>
			<input id="playerName" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="playerName" placeholder="Name" value={{player.name}} ng-model="playerInputs" readonly>
		</div>

		<div class="form-group">
			<label for="inputlg">Offensive Rating (must be between 1 and 100</label>
			<input id="playerOffensiveRating" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="offensiveRating" placeholder="Offensive Rating" value={{player.offensiveRating}} ng-model="playerInputs">
		</div>

		<div class="form-group">
			<label for="inputlg">Defensive Rating (must be between 1 and 100)</label>
			<input id="playerDefensiveRating" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="defensiveRating" placeholder="Defensive Rating" value={{player.defensiveRating}} ng-model="playerInputs">
		</div>

		<div class="form-group" *ngIf="pcid==0">
				<label for="sel1">Position (0=Coach, 1=PG, 2=SG, 3=SF, 4=PF, 5=C):</label>
				<select class="form-control" [(ngModel)]="position" id="sel1">
				  <option value="" disabled selected>Select a position</option>
				  <option *ngFor="let pos of positions" [value]="pos">{{pos}}</option>
				</select>
			  </div> 

		<div class="form-group" *ngIf="pcid==0">
			<label for="inputlg">Rotation Minutes (must be between 0 and 100)</label>
			<input id="playerDefensiveRating" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="rotationMinutes" placeholder="Rotation Possessions" value={{player.rotationMinutes}} ng-model="playerInputs">
		</div>

		<div class="form-group" *ngIf="pcid==0">
				<label for="sel1">Player Role:</label>
				<select class="form-control" [(ngModel)]="playerRole" id="sel1">
				  <option value="" disabled selected>Select a player role</option>
				  <option *ngFor="let role of roles" [value]="role">{{role}}</option>
				</select>
			  </div> 

		<a id="update-player-button" class="btn btn-primary" (click)="updatePlayer()">Update Player / Coach</a>
		<a id="delete-player-button" class="btn btn-primary" (click)="deletePlayer()">Delete Player / Coach</a>

	</div>

	<ng-template #notPlayer>
		<div class="form-group">
			<label for="inputlg">Player Name (must be greater than or equal to 1 character)</label>
			<input id="playerName" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="playerName" placeholder="Name" ng-model="playerInputs">
		</div>

		<div class="form-group">
			<label for="inputlg">Offensive Rating (must be between 1 and 100)</label>
			<input id="playerOffensiveRating" class="form-control input-lg" id="inputlg" [(ngModel)]="offensiveRating" type="text" placeholder="Offensive Rating" ng-model="playerInputs">
		</div>

		<div class="form-group">
			<label for="inputlg">Defensive Rating (must be between 1 and 100)</label>
			<input id="playerDefensiveRating" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="defensiveRating" placeholder="Defensive Rating" ng-model="playerInputs">
		</div>

		<div class="form-group" *ngIf="pcid==0">
				<label for="sel1">Position (0=Coach, 1=PG, 2=SG, 3=SF, 4=PF, 5=C):</label>
				<select class="form-control" [(ngModel)]="position" id="sel1">
				  <option value="" disabled selected>Select a position</option>
				  <option *ngFor="let pos of positions" [value]="pos">{{pos}}</option>
				</select>
			  </div> 

		<div class="form-group" *ngIf="pcid==0">
			<label for="inputlg">Rotation Minutes (must be between 0 and 100)</label>
			<input id="playerDefensiveRating" class="form-control input-lg" id="inputlg" type="text" [(ngModel)]="rotationMinutes" placeholder="Rotation Possessions" ng-model="playerInputs">
		</div>

		<div class="form-group" *ngIf="pcid==0">
				<label for="sel1">Player Role:</label>
				<select class="form-control" [(ngModel)]="playerRole" id="sel1">
				  <option value="" disabled selected>Select a player role</option>
				  <option *ngFor="let role of roles" [value]="role">{{role}}</option>
				</select>
			  </div> 

		<a id="create-player-button" class="btn btn-primary" (click)="createPlayer()">Create Player / Coach</a>
	</ng-template>

	  <font color red>{{ inputError }}</font>

</body>
</html>