<div class="game-sim-input">

  <h3>Possessions Remaining: 100</h3>

  <div class="btn-group btn-group-justified">
    <a class="btn btn-primary">Simulate Possession</a>
    <a class="btn btn-primary">Simulate Quarter</a>
    <a class="btn btn-primary">Simulate Game</a>
    <a class="btn btn-primary">Reset Simulation</a>
  </div>

  <div id="away-team" class="away-team-select">
    <div id="away-team-label"><h3>Away Team: </h3> </div>
    <!-- Example single danger button -->
    <div id="away-team-select-dropdown" class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Away Team Select
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" *ngFor="let team of teams">{{team.name}}</a></li>
      </ul>
    </div>                 

  </div>

  <div id="home-team" class="away-team-select">
    <div id="home-team-label"><h3>Home Team: </h3> </div>
    <!-- Example single danger button -->
    <div id="home-team-select-dropdown" class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Home Team Select
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" *ngFor="let team of teams">{{team.name}}</a></li>
      </ul>
    </div>                     
  </div>
</div>